{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "complexity": ["error", 15],
    "no-bitwise": "off",
    "consistent-return": "off",
    "no-negated-condition": "off",
    "arrow-parens": "error",
    "generator-star-spacing": "off",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "warn",
    "no-unused-vars": "error",
    "eqeqeq": "off",
    "import/no-useless-path-segments": "off",
    "no-eq-null": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
